.popup__close {
  background: url(../../../images/cross.svg) center no-repeat;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  border: none;
  padding: 0;
}

.popup__close:hover {
  opacity: .6;
}

@media screen and (max-width: 555px) {
  .popup__close {
    background-size: contain;
    width: 20px;
    height: 20px;
    right: 0px;
    top: -36px;
  }
}
