.profile__user-info {
  display: flex;
  flex-direction: column;
  margin: 25px 0;
}

@media screen and (max-width: 555px) {
  .profile__user-info {
    align-items: center;
    text-align: center;
    margin-top: 22.5px;
    margin-bottom: 33px;
  }
}
